@{
    Layout = null;
}

<div class="col-md-3">
    <p class="lead">Categorias</p>
    <div class="list-group">
        <a href="#" class="list-group-item">Festas Infantis</a>
        <a href="#" class="list-group-item">Casamentos</a>
        <a href="#" class="list-group-item">15 anos</a>
        <a href="#" class="list-group-item">Formaturas</a>
        <a href="#" class="list-group-item">Recepções</a>
        <a href="#" class="list-group-item">Produtos festivos</a>
        <a href="#" class="list-group-item">Salões</a>
    </div>
    <hr />
    <p class="lead">Regiões</p>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">
            <span class="cr"></span>
            Rio de Janeiro
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">
            <span class="cr"></span>
            São Paulo
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">
            <span class="cr"></span>
            Espirito Santo
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">
            <span class="cr"></span>
            Minas Gerais
        </label>
    </div>
    <hr />
    <p class="lead">Tipo</p>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">
            <span class="cr"></span>
            Serviços
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="">
            <span class="cr"></span>
            Produtos
        </label>
    </div>
</div>