@{
    Layout = null;
}
<ul class="dropdown-menu">
    <li> @Html.ActionLink("Relatório por Qualificação","RelatorioQualificacao", "Relatorios", new { sortOrder = "", DataIni = "", DataFin = "" },null)</li>
    <li> @Html.ActionLink("Relatório por localidade", "RelatorioLocalidade", "Relatorios", new { sortOrder = ""}, null)</li>
    <li><a href="#">Relatório de serviços mais procurados</a></li>
</ul>