@{
    Layout = null;
}
<ul class="dropdown-menu">
    <li> <a href="@Url.Action("RelatorioQualificacao", "Relatorios")">Relatório de fornecedores por qualificação</a></li>
    <li><a href="#">Relatório de serviços mais procurados</a></li>
    <li><a href="#">Relatório de fornecedores por localidade</a></li>
</ul>