@model LetsParty.Domain.ViewModel.EventoViewModel

@using (Html.BeginForm("AvaliarEvento", "Evento", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{<td>
        <div class="form-group">
            <div class="input-group">
                @Html.DropDownListFor(model => model.NotaAnuncio, new List<SelectListItem>{
                                                          new SelectListItem(){Text = "10", Value="10"},
                                                          new SelectListItem() {Text = "9", Value="9"},
                                                          new SelectListItem() {Text = "8", Value="8"},
                                                          new SelectListItem() {Text = "7", Value="7"},
                                                          new SelectListItem() {Text = "6", Value="6"},
                                                          new SelectListItem() {Text = "5", Value="5"},
                                                          new SelectListItem() {Text = "4", Value="4"},
                                                          new SelectListItem() {Text = "3", Value="3"},
                                                          new SelectListItem() {Text = "2", Value="2"},
                                                          new SelectListItem() {Text = "1", Value="1"},
                                                          new SelectListItem() {Text = "0", Value="0"}
                                                          }, new { @class = "form-control", style = "width:70px;" })
                <button type="submit" class="btn btn-success">Avaliar</button>
                @Html.HiddenFor(model => Model.EventoID)
            </div>
        </div>
    </td>
}
