@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://localhost:34417/Home">Festeje - O Seu site de festas</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" size="100" class="form-control" placeholder="Buscar">
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicons glyphicons-search"></span>
                        Procurar
                    </button>
                </form>
                <ul class="nav navbar-nav">

                    <li>
                        @Html.ActionLink("Anunciar", "Anuncio")
                    </li>
                    <li>
                        @Html.ActionLink("Minha conta", "Administrativo")
                    </li>
                    <li>
                        @Html.ActionLink("Cadastre-se", "Cadastro")
                    </li>
                    <li>
                       @Html.ActionLink("Login", "Login")
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
         <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Categorias</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Festas Infantis</a>
                    <a href="#" class="list-group-item">Casamentos</a>
                    <a href="#" class="list-group-item">15 anos</a>
                    <a href="#" class="list-group-item">Formaturas</a>
                    <a href="#" class="list-group-item">Recepções</a>
                    <a href="#" class="list-group-item">Produtos festivos</a>
                    <a href="#" class="list-group-item">Salões</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row carousel-holder">
                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="http://www.dukafestas.com.br/media/upload/service/c21e7f58423e35215ec31fcef34720a3-800x300.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://static-maetipoeu.gcampaner.com.br/wp-content/uploads/2015/03/festa_circo_aniversrio_1_ano-mae_tipo_eu-2-800x300.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://www.dukafestas.com.br/media/upload/service/2cfb726404a9578eb914fdc494313297-800x300.jpg" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://4.bp.blogspot.com/-wM4pGlBBIyY/VVLX7jMN-oI/AAAAAAAAS8E/Axmbc1X86E0/s320/Joypaper%2B(149%2Bde%2B150).jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">R$150,00</h4>
                                <h4>
                                    <a href="#">Adriana festas</a>
                                </h4>
                                <p>Organização de festas em geral,além dos melhores produtos. <a target="_blank" href="http://www.g1.com.br"> Adriana Festas  - http://AdrianaFestas.com</a>.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://1.bp.blogspot.com/-C48EnkYR3H4/T108-OH2x7I/AAAAAAAACR4/Jr9xFn4SIsg/s320/Setembro+-+separar+150.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">R$64,99</h4>
                                <h4>
                                    <a href="#">Animação Festas</a>
                                </h4>
                                <p>Tudo o que você precisa para organizar a sua festa.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">12 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://4.bp.blogspot.com/_cEVrJOyvxCA/TSI5KVdDgzI/AAAAAAAAAKI/VB7INIxtE5I/s1600/Bolo+dois+andares_azul+com+estrelas_1.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">R$50,00</h4>
                                <h4>
                                    <a href="#">Bolos & Cia</a>
                                </h4>
                                <p>Os melhores bolos festivos estão aqui.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">31 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s320x320/e15/11253668_1577151042552416_2007772662_n.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$84.99</h4>
                                <h4>
                                    <a href="#">Fourth Product</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">6 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://2.bp.blogspot.com/_78m6lAytqmo/TFn9GoZM8fI/AAAAAAAAADo/JQMiIy9EpRI/s320/SDC10958.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">$94.99</h4>
                                <h4>
                                    <a href="#">Ótimos preços</a>
                                </h4>
                                <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Festeje.com 2015</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
